body {
    font-family: 'Muli', sans-serif;
}

h1 {
    font-family: 'Satisfy', cursive;
}

.main-area {
    margin: 0;
    min-height: 100%;
    border-right: 1px solid #ccc;
}

#myname {
    font-size: 4em;
}

.jumbotron {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
}

.jumbotron a {
    font-size: 15px;
}

div {
    max-width: 100%;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.bg{
    min-height: calc(100% - 180px);
}

#propic {
    padding: 1em;
    width: 100%;
    border-radius: 7em;
}

a:hover {
    text-decoration: none;
}

#resume-link {
    color: inherit;
}

#show-home {
    background-color: #d6e7ff;
    min-height: inherit;
}

#show-education {
    background-color: #d6e7ff;
    min-height: inherit;
    display: none;
}

#show-experience {
    background-color: #d6e7ff;
    min-height: inherit;
    display: none;
}

#show-skills {
    background-color: #d6e7ff;
    min-height: inherit;
    display: none;
}

div#show-projects {
    background-color: #d6e7ff;
    min-height: inherit;
    display: none;
}

h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul.experience {
    list-style: square;
    padding-left: 40px;
}

#cashier {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#about-me {
    padding: 1.5em;
}

.icon {
    font-size: 5em;
}

#icon1 {
    color: #2867B2;
}

.icon {
    color: black;
    padding-bottom: 0.5em;
}

.icon:hover {
    color: black;
}

@media screen and (max-width: 575px) {
  #cashier {
     border: none;
  }
}

.project {
    height: 250px;
    border: 3px solid #ccc;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

[id^=img] {
    width: inherit;
    height: 150px;
}

.button-jittery:hover{
    animation: heartbeat 0.5s infinite;
}

@keyframes heartbeat {
	50% {
		transform: scale(1.1);
	}
}

/* Modal Stuff */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
[id^=close] {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right !important;
}

[id^=close]:hover,
[id^=close]:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.modal-content {
  text-align: center;
}

.modal-content h5 {
    line-height: 1.5;
}

.modal-content h2 {
    padding-top:0;
}

/* End Modal Stuff */

.row:before, .row:after {width:0px; height:0px;}